.mainBackground {
    background-color: #d2d1e0;
    background-size: cover;
}

.aside {
    float: left;
    width: 22%;
    margin-right: 2%;
}

.navLinkHover:link{
    color: #bcbacb;
}

.navLinkHover:hover{
    color: white;
}