.mainBackground {
    background-color: #d2d1e0;
    background-size: cover;
}

.aside {
    float: left;
    width: 22%;
    margin-right: 2%;
}

.navLinkHover:link{
    color: #bcbacb;
}

.navLinkHover:hover{
    color: white;
}

.msg-background{
    background: white fixed;
    background-size: cover;
    border-radius: 0.5em 0.5em;
    width: 63em;
    height: 60em;

}