<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">

    <display-name>Archetype Created Web Application</display-name>

    <servlet>
        <servlet-name>SignIn</servlet-name>
        <servlet-class>com.louay.projects.view.service.register.SignIn</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignIn</servlet-name>
        <url-pattern>/SignIn</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SignUpClient</servlet-name>
        <servlet-class>com.louay.projects.view.service.register.SignUpClient</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignUpClient</servlet-name>
        <url-pattern>/SignUpClient</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetUserPhoto</servlet-name>
        <servlet-class>com.louay.projects.view.service.user.GetUserPhoto</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetUserPhoto</servlet-name>
        <url-pattern>/GetUserPhoto</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ViewMyFriend</servlet-name>
        <servlet-class>com.louay.projects.view.service.user.ViewMyFriend</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewMyFriend</servlet-name>
        <url-pattern>/ViewMyFriend</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>com.louay.projects.view.service.register.Logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddUserTextPost</servlet-name>
        <servlet-class>com.louay.projects.view.service.post.AddUserTextPost</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddUserTextPost</servlet-name>
        <url-pattern>/AddUserTextPost</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddUserImgPost</servlet-name>
        <servlet-class>com.louay.projects.view.service.post.AddUserImgPost</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddUserImgPost</servlet-name>
        <url-pattern>/AddUserImgPost</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetUserCirclePost</servlet-name>
        <servlet-class>com.louay.projects.view.service.post.GetUserCirclePost</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetUserCirclePost</servlet-name>
        <url-pattern>/GetUserCirclePost</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteUserPost</servlet-name>
        <servlet-class>com.louay.projects.view.service.post.DeleteUserPost</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteUserPost</servlet-name>
        <url-pattern>/DeleteUserPost</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetUserEditPost</servlet-name>
        <servlet-class>com.louay.projects.view.service.post.GetUserEditPost</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetUserEditPost</servlet-name>
        <url-pattern>/GetUserEditPost</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EditUserTextPost</servlet-name>
        <servlet-class>com.louay.projects.view.service.post.EditUserTextPost</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditUserTextPost</servlet-name>
        <url-pattern>/EditUserTextPost</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EditUserImgPost</servlet-name>
        <servlet-class>com.louay.projects.view.service.post.EditUserImgPost</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditUserImgPost</servlet-name>
        <url-pattern>/EditUserImgPost</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SearchAccountGroup</servlet-name>
        <servlet-class>com.louay.projects.view.service.search.SearchAccountGroup</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchAccountGroup</servlet-name>
        <url-pattern>/SearchAccountGroup</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SendMessage</servlet-name>
        <servlet-class>com.louay.projects.view.service.message.SendMessage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SendMessage</servlet-name>
        <url-pattern>/SendMessage</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ViewListReceiveMessage</servlet-name>
        <servlet-class>com.louay.projects.view.service.message.ViewListReceiveMessage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewListReceiveMessage</servlet-name>
        <url-pattern>/ViewListReceiveMessage</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ViewReceiveMessageContent</servlet-name>
        <servlet-class>com.louay.projects.view.service.message.ViewReceiveMessageContent</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewReceiveMessageContent</servlet-name>
        <url-pattern>/ViewReceiveMessageContent</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ReviewAccount</servlet-name>
        <servlet-class>com.louay.projects.view.service.search.ReviewAccount</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReviewAccount</servlet-name>
        <url-pattern>/ReviewAccount</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddRequest</servlet-name>
        <servlet-class>com.louay.projects.view.service.member.AddRequest</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddRequest</servlet-name>
        <url-pattern>/AddRequest</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ViewAllNotSeenMessage</servlet-name>
        <servlet-class>com.louay.projects.view.service.message.ViewAllNotSeenMessage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewAllNotSeenMessage</servlet-name>
        <url-pattern>/ViewAllNotSeenMessage</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ViewSentMessageContent</servlet-name>
        <servlet-class>com.louay.projects.view.service.message.ViewSentMessageContent</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewSentMessageContent</servlet-name>
        <url-pattern>/ViewSentMessageContent</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ViewListSentMessage</servlet-name>
        <servlet-class>com.louay.projects.view.service.message.ViewListSentMessage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewListSentMessage</servlet-name>
        <url-pattern>/ViewListSentMessage</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetUserImgPost</servlet-name>
        <servlet-class>com.louay.projects.view.service.post.GetUserImgPost</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetUserImgPost</servlet-name>
        <url-pattern>/GetUserImgPost</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetRequestReceive</servlet-name>
        <servlet-class>com.louay.projects.view.service.member.GetRequestReceive</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetRequestReceive</servlet-name>
        <url-pattern>/GetRequestReceive</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetRequestSent</servlet-name>
        <servlet-class>com.louay.projects.view.service.member.GetRequestSent</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetRequestSent</servlet-name>
        <url-pattern>/GetRequestSent</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddUserFriend</servlet-name>
        <servlet-class>com.louay.projects.view.service.member.AddUserFriend</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddUserFriend</servlet-name>
        <url-pattern>/AddUserFriend</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CreateGroup</servlet-name>
        <servlet-class>com.louay.projects.view.service.group.CreateGroup</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateGroup</servlet-name>
        <url-pattern>/CreateGroup</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetUserGroup</servlet-name>
        <servlet-class>com.louay.projects.view.service.group.GetUserGroup</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetUserGroup</servlet-name>
        <url-pattern>/GetUserGroup</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetGroupPost</servlet-name>
        <servlet-class>com.louay.projects.view.service.group.GetGroupPost</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetGroupPost</servlet-name>
        <url-pattern>/GetGroupPost</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddGroupImgPost</servlet-name>
        <servlet-class>com.louay.projects.view.service.group.AddGroupImgPost</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddGroupImgPost</servlet-name>
        <url-pattern>/AddGroupImgPost</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddGroupTextPost</servlet-name>
        <servlet-class>com.louay.projects.view.service.group.AddGroupTextPost</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddGroupTextPost</servlet-name>
        <url-pattern>/AddGroupTextPost</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SwitchToGroup</servlet-name>
        <servlet-class>com.louay.projects.view.service.group.SwitchToGroup</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SwitchToGroup</servlet-name>
        <url-pattern>/SwitchToGroup</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetGroupPicture</servlet-name>
        <servlet-class>com.louay.projects.view.service.group.GetGroupPicture</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetGroupPicture</servlet-name>
        <url-pattern>/GetGroupPicture</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetGroupMember</servlet-name>
        <servlet-class>com.louay.projects.view.service.group.GetGroupMember</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetGroupMember</servlet-name>
        <url-pattern>/GetGroupMember</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddMemberGroup</servlet-name>
        <servlet-class>com.louay.projects.view.service.member.AddMemberGroup</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddMemberGroup</servlet-name>
        <url-pattern>/AddMemberGroup</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetGroupInviteSent</servlet-name>
        <servlet-class>com.louay.projects.view.service.member.GetGroupInviteSent</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetGroupInviteSent</servlet-name>
        <url-pattern>/GetGroupInviteSent</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetGroupRequestReceive</servlet-name>
        <servlet-class>com.louay.projects.view.service.member.GetGroupRequestReceive</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetGroupRequestReceive</servlet-name>
        <url-pattern>/GetGroupRequestReceive</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddGroupInvite</servlet-name>
        <servlet-class>com.louay.projects.view.service.member.AddGroupInvite</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddGroupInvite</servlet-name>
        <url-pattern>/AddGroupInvite</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetGroupImgPost</servlet-name>
        <servlet-class>com.louay.projects.view.service.post.GetGroupImgPost</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetGroupImgPost</servlet-name>
        <url-pattern>/GetGroupImgPost</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LogoutGroup</servlet-name>
        <servlet-class>com.louay.projects.view.service.register.LogoutGroup</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutGroup</servlet-name>
        <url-pattern>/LogoutGroup</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetUserProfileInfo</servlet-name>
        <servlet-class>com.louay.projects.view.service.profile.GetUserProfileInfo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetUserProfileInfo</servlet-name>
        <url-pattern>/GetUserProfileInfo</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdateUserProfile</servlet-name>
        <servlet-class>com.louay.projects.view.service.profile.UpdateUserProfile</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateUserProfile</servlet-name>
        <url-pattern>/UpdateUserProfile</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetGroupProfileInfo</servlet-name>
        <servlet-class>com.louay.projects.view.service.profile.GetGroupProfileInfo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetGroupProfileInfo</servlet-name>
        <url-pattern>/GetGroupProfileInfo</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdateGroupProfileInfo</servlet-name>
        <servlet-class>com.louay.projects.view.service.profile.UpdateGroupProfileInfo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateGroupProfileInfo</servlet-name>
        <url-pattern>/UpdateGroupProfileInfo</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ErrorServlet</servlet-name>
        <servlet-class>com.louay.projects.view.service.util.error.ErrorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ErrorServlet</servlet-name>
        <url-pattern>/ErrorServlet</url-pattern>
    </servlet-mapping>
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/ErrorServlet</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/ErrorServlet</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/ErrorServlet</location>
    </error-page>

    <session-config>
        <session-timeout>60</session-timeout>
    </session-config>
</web-app>
