<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">

    <display-name>Archetype Created Web Application</display-name>

    <servlet>
        <servlet-name>SignIn</servlet-name>
        <servlet-class>com.louay.projects.view.service.register.SignIn</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignIn</servlet-name>
        <url-pattern>/SignIn</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SignUpClient</servlet-name>
        <servlet-class>com.louay.projects.view.service.register.SignUpClient</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignUpClient</servlet-name>
        <url-pattern>/SignUpClient</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetUserPhoto</servlet-name>
        <servlet-class>com.louay.projects.view.service.user.GetUserPhoto</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetUserPhoto</servlet-name>
        <url-pattern>/GetUserPhoto</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ViewMyFriend</servlet-name>
        <servlet-class>com.louay.projects.view.service.user.ViewMyFriend</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewMyFriend</servlet-name>
        <url-pattern>/ViewMyFriend</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>com.louay.projects.view.service.register.Logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddUserTextPost</servlet-name>
        <servlet-class>com.louay.projects.view.service.post.AddUserTextPost</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddUserTextPost</servlet-name>
        <url-pattern>/AddUserTextPost</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddUserImgPost</servlet-name>
        <servlet-class>com.louay.projects.view.service.post.AddUserImgPost</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddUserImgPost</servlet-name>
        <url-pattern>/AddUserImgPost</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetUserCirclePost</servlet-name>
        <servlet-class>com.louay.projects.view.service.post.GetUserCirclePost</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetUserCirclePost</servlet-name>
        <url-pattern>/GetUserCirclePost</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteUserPost</servlet-name>
        <servlet-class>com.louay.projects.view.service.post.DeleteUserPost</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteUserPost</servlet-name>
        <url-pattern>/DeleteUserPost</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetUserEditPost</servlet-name>
        <servlet-class>com.louay.projects.view.service.post.GetUserEditPost</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetUserEditPost</servlet-name>
        <url-pattern>/GetUserEditPost</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EditUserTextPost</servlet-name>
        <servlet-class>com.louay.projects.view.service.post.EditUserTextPost</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditUserTextPost</servlet-name>
        <url-pattern>/EditUserTextPost</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EditUserImgPost</servlet-name>
        <servlet-class>com.louay.projects.view.service.post.EditUserImgPost</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditUserImgPost</servlet-name>
        <url-pattern>/EditUserImgPost</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SearchAccountGroup</servlet-name>
        <servlet-class>com.louay.projects.view.service.search.SearchAccountGroup</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchAccountGroup</servlet-name>
        <url-pattern>/SearchAccountGroup</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SendMessage</servlet-name>
        <servlet-class>com.louay.projects.view.service.message.SendMessage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SendMessage</servlet-name>
        <url-pattern>/SendMessage</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ViewNotSeenMessage</servlet-name>
        <servlet-class>com.louay.projects.view.service.message.ViewNotSeenMessage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewNotSeenMessage</servlet-name>
        <url-pattern>/ViewNotSeenMessage</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ViewMessageContent</servlet-name>
        <servlet-class>com.louay.projects.view.service.message.ViewMessageContent</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewMessageContent</servlet-name>
        <url-pattern>/ViewMessageContent</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ReviewAccount</servlet-name>
        <servlet-class>com.louay.projects.view.service.search.ReviewAccount</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReviewAccount</servlet-name>
        <url-pattern>/ReviewAccount</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ErrorServlet</servlet-name>
        <servlet-class>com.louay.projects.view.service.util.error.ErrorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ErrorServlet</servlet-name>
        <url-pattern>/ErrorServlet</url-pattern>
    </servlet-mapping>
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/ErrorServlet</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/ErrorServlet</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/ErrorServlet</location>
    </error-page>



    <session-config>
        <session-timeout>60</session-timeout>
    </session-config>
</web-app>
